# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
env/
venv/
ENV/
.venv/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp

# Build & dist
build/
dist/
*.egg-info/

# Local testing
*.sqlite3
*.db
*.pdf   # generated career plans
